{
    // Kladovka - multilanguage!
    // `default_language` can be "ru" or "en"
    "default_language": "en",

    // Kladovka can use mongoDB or memory database.
    // `db` can be "mongo" or "memory"
    "db": "mongo",

    // `db_url` is the address, there runnig your database server
    "db_url": "mongodb://localhost:27017/kladovka",

    // `express_port` is the port that will listen Kladovka
    "express_port": 8080
}